<!DOCTYPE html>
<html lang="pt-BR">
<head>
    </head>
<body>

    <div id="chat-container">
        
        <div id="messages-area">
            <i class="fas fa-redo" id="reset-button" title="Limpar Conversa"></i>
        </div>

        <div id="input-area">
            <div id="input-box-wrapper">
                <input type="text" id="user-input" placeholder="Fale com a Jady..."> 
                
                <div id="mic-wrapper">
                    <i class="fas fa-microphone" id="mic-icon"></i> 
                </div>

                <button id="send-button">
                    <i class="fas fa-paper-plane"></i> 
                </button>
            </div>
        </div>
    </div>
    
    <div id="disclaimer-bottom">
        O Quebre o Ciclo pode cometer erros. Por isso, é bom checar as respostas e sempre ligar **190** em caso de emergência.
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>